asgiref==3.9.1 ; python_version >= "3.13"
django==5.2.4 ; python_version >= "3.13"
djangorestframework==3.16.0 ; python_version >= "3.13"
sqlparse==0.5.3 ; python_version >= "3.13"
tzdata==2025.2 ; python_version >= "3.13" and sys_platform == "win32"
stripe==12.1.0
whitenoise==6.7.0
google-auth==2.29.0
resend==2.0.0
Pillow==11.1.0
dj-database-url==3.0.1
psycopg2-binary==2.9.10